.container {
    height: 100%;
}

.topCategoriesWrapper {
    margin-top: 100px;
}

.wrapper {
    height: 300px;
    margin-bottom: 50px;
}

.topProductsWrapper {
    margin-bottom: 100px;
}
