.container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 30%;
    height: 100%;
}

.container:hover {
    cursor: pointer;
}

.imgDiv {
    flex: 4.5;
    height: 50%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.description {
    flex: 5.5;
    padding: 20px;

    .freeShipping {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .headline {
        font-size: 24px;
        font-weight: bolder;
        font-style: italic;
        margin: 5px 0;
    }

    .desc {
        font-size: 16px;
        line-height: 1.5;
        margin: 10px 0 0;
    }
}

.button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 2;

    a {
        text-decoration: none;
        color: black;

        .buttonWrapper {
            margin-right: 15px;
            margin-bottom: 25px;
            display: flex;
            height: 45px;
            align-items: center;
            padding: 15px;
            padding-left: 10px;
            border-radius: 7px;
            border: 2px solid black;
            font-weight: bold;
        }

        .buttonWrapper:hover {
            background-color: lightgray;
        }
    }
}