.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout-content {
    /* overflow-y: scroll; */
    z-index: 0;
}

.layout-header {
    /* position: sticky; */
    top: 0;
    z-index: 4;
}

.layout-footer {
    margin-top: 50px;
}

/* ::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}  */
