.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-content {
    /* overflow-y: scroll; */
    flex: 9;
}

.layout-header {
    position: sticky;
    top: 0;
    flex: 2;
}

.layout-footer {
    flex: 1;
}

/* ::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}  */
