.navbar-container {
    background-color: #acdee7;
    padding-left: 7%;
    position: sticky;
    top: 0;
}

.upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5em 0px 5em;
    width: 80%;
}

.lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5em 0px 6em;
    width: 80%;
}

.category-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    transition: all 0.2s;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-list li {
    margin: 0 30px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
}

.navbar-link:hover {
    border-bottom: 2px solid white;
}

.navbar-upper-left {
    img {
        margin-top: 20px;
        width: 120px;
        height: 100px;
    }
}

.navbar-upper-center {
    .searchbar {
        background-color: white;
        border-radius: 10px;
        display: flex;
        input {
            border: none;
            outline: none;
            width: 55em;
            height: 4em;
            border-radius: 10px;
        } 
        input:focus, input:active{
            border: none;
            outline: none;
        }
    }
    margin-top: 10px;
}

/* .navbar-upper-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */

.search-nearby-store {
    .custom-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .button-content {
            display: flex;
            flex-direction: column;
            text-align: left;
            .bigger {
                font-size: 20px;
                font-weight: bold;
            }
            .smaller {
                font-size: 12px;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 4;
}

.overlay.active {
    display: block;
}

.user-icon, .wish-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
} 

.icon-button {
    background-color: #ffffff;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar-menu {
    display: flex;
    width: 100%;
    overflow: hidden;
}


