.popup {
    position: fixed;
    background-color: white;
    width: 500px;
    height: 60vh;
    left: 300px;
    top: 80px;
    ul {
        list-style: none;
    }
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}